<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="background" class="card-background-page" [fullscreen]="true">
  
<ion-card>
  <img src="assets/img/Among-the-Rest.webp" alt="" width="500px">
  <div class="card-title">App musica</div>

  <div class="card-subtitle">sempre com voce</div>
</ion-card>
<ion-row>
  <ion-col>
    <ion-item class="ion-activated" (click)="exibirBaixo()">
      <div class="ion-text-center">
      <img src="assets/img/baixo.jpg" alt="" width="400px">
      <h3>Baixo</h3>
    </div>

    </ion-item>
  </ion-col>



  <ion-col>
    <ion-item class="ion-activated" (click)="exibirGuitarra()">
      <div class="ion-text-center">
      <img src="assets/img/Guitar-PNG-Image.png" alt="" width="250px">
      <h3>Gutarra</h3>
    </div>

    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
   
    <ion-item class="ion-activated" (click)="exibirPedal()">
      <div class="ion-text-center">
      <img src="assets/img/pedal-guitarra.png" alt="" width="250px">
      <h3>Pedal</h3>
    </div>

    </ion-item>
  </ion-col>



  <ion-col>
    
    <ion-item class="ion-activated" (click)="exibirBaixo()">
      <div class="ion-text-center">
      <img src="assets/img/png-transparent.png" alt="" width="250px">
      <h3>Baixo</h3>
    </div>

    </ion-item>
  </ion-col>
</ion-row>


</ion-content>
